.sectionTitle {
  max-width: 750px;
  margin-bottom: 50px;

  h2 {
    font-size: clamp(35px, 4vw, 56px);
    line-height: 1.04;
    letter-spacing: -0.04em;
    margin: 0;
  }

  &.wide {
    max-width: none;
    width: 100%;
  }

  &.light {
    :global(.eyebrow) {
      color: #9fb2cf;
    }

    h2 {
      color: #fff;
    }
  }
}